.item-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; 
    height: 600px; 
    overflow-y: auto;
    padding: 10px;
}
.billing-item-card-wrapper:hover{
    background-color: rgba(25, 118, 210, 0.57);
    cursor: pointer;
    z-index: 1500;
}
.item-cards-wrapper::-webkit-scrollbar {
    width: 0; 
}
.billing-item-card-wrapper {
    max-width: 200px;
    height: 260px;
    box-sizing: border-box;
    margin-bottom: 20px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.billing-item-image{
    background: url(/assets/images/bun.png)center no-repeat;
    background-size: cover;
    width: 100%;
    height: 140px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.billing-item-card-wrapper p:first-child{
    font-size: .8rem;
}
.billing-card-pq{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.billing-card-pq> p:first-child{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
}
.billing-card-qty{
    font-size: .8rem;
    font-weight: 400;
}
.billing-item-card-wrapper >p:last-child{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}
.blue-colour{
    color: #1976D2;
}
#Billing .content-bg{
    padding: 20px 10px 30px 30px;
}
#Billing-cards-content-bg{
    height: 660px;
}
@media (max-width: 992px) {
    .item-cards-wrapper {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .item-cards-wrapper {
        justify-content: center; 
    }
}
#cashier-search-form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
    position: relative;
    bottom: 10px;
    left: 510px;
}
#cashier-search-form-wrapper{
    display: flex;
    align-items: center;
    height: 36px;
}
#cashier-search-form-wrapper input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: #eceaea;
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: #363949;
}
#cashier-search-form-wrapper button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}
.highlight {
    background-color: #1976D2;
    color: #fff;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}
#addtoCartItemName{
    color: #1976D2;
    position: relative;
    bottom: 12px;
    font-size: 17px;
}
#addtoCartItemOnH,#addtoCartItemPrice,#addtoCartItemQty{
    font-size: 17px;
    font-weight: 500;
}
#addtoCartWrapper{
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addtoCartItemOnHWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}
#addtoCartItemPriceWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    margin-bottom: 30px;
}
#addtoCartItemQtyWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}
#billingPopupQty{
    border: #181a1e solid 0.5px; 
    border-radius: 5px;
    height: 35px;
    width: 250px;
    padding: 10px;
    font-size: 16px;
}
.custom-confirm-button{
    background-color: #1976D2;
    height: 44px;
}
.swal2-cancel.custom-cancel-button {
    background-color: rgb(231, 61, 61);
}
.addtocartbtnTxt{
    position: relative;
    bottom: 6px;
}
#total-details-billing{
    position: relative;
}
.billing-total-details-common > div{
    justify-content: end;
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 10px 0;
}
.billing-total-details-common > div>label{
    font-size: 15px;
    font-weight: 550;
}
.billing-total-details-common > div>div>label{
    font-size: 15px;
}
#billing-tbl-root{
    position: relative;
}
/* #total-details-billing{
    position: absolute;
    right: 0;
} */
#billing-total-wrapper>div>label, #billing-total-wrapper>div>div>label{
    font-size: 1.5rem;
    font-weight: 550;
}
#billing-tbl-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#billing-tbl{
    width: 500px;
}
#billing-tbl>thead>tr>th{
    font-weight: 500;
    font-size: 15px;
}
#billing-tbl>tbody>tr>td{
    font-weight: 400;
    font-size: 14px;
}
#billing-tbl>tbody>tr>td:last-child{
    color: red;
    cursor: pointer;
}